## Ignore Visual Studio临时文件，构建结果以及
## 由流行的Visual Studio附加组件生成的文件。
##
## 从https://github.com/github/gitignore/blob/master/VisualStudio.gitignore获取最新版本

# 用户特定文件
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# 用户特定文件（MonoDevelop / Xamarin Studio）
*.userprefs

# 构建结果
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017缓存/选项目录
.vs/
# 如果有创建项目的静态文件的任务，请取消注释
#wwwroot/

# Visual Studio 2017自动生成的文件
Generated\ Files/

# MSTest测试结果
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# ATL项目的构建结果
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# 基准结果
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Visual Studio生成的文件
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah测试文件
_Chutzpah*

# Visual C++缓存文件
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio分析器
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio跟踪文件
*.e2e

# TFS 2012本地工作区
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper是一个.NET编码附加组件
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode是一个.NET编码附加组件
.JustCode

# TeamCity是一个构建附加组件
_TeamCity*

# DotCover是一个代码覆盖工具
*.dotCover

# AxoCover是一个代码覆盖工具
.axoCover/*
!.axoCover/settings.json

# Visual Studio代码覆盖结果
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web工作台（sass）
.sass-cache/

# Installshield输出文件夹
[Ee]xpress/

# DocProject是一个文档生成器插件
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once目录
publish/

# 发布Web输出
*.[Pp]ublish.xml
*.azurePubxml
# 注意：如果要检入Web部署设置，请取消注释下一行，
# 但可能会导致未加密的数据库连接字符串（可能带有密码）
*.pubxml
*.publishproj

# Microsoft Azure Web App发布设置。如果要检入Azure Web App发布设置，请取消注释下一行，
# 但这些脚本中包含的敏感信息将未加密
PublishScripts/

# NuGet Packages
*.nupkg
# 由于已启用包还原，因此可以忽略packages文件夹
**/[Pp]ackages/*
# 除了build/，它用作MSBuild目标。
!**/[Pp]ackages/build/
# 如果需要，请取消注释下一行，但通常在需要时会重新生成
#!**/[Pp]ackages/repositories.config
# NuGet v3的project.json文件会产生更多可忽略文件
*.nuget.props
*.nuget.targets

# Microsoft Azure构建输出
csx/
*.build.csdef

# Microsoft Azure模拟器
ecf/
rcf/

# Windows商店应用程序包目录和文件
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx

# Visual Studio缓存文件
# 以.cache结尾的文件可以忽略
*.[Cc]ache
# 但要跟踪以.cache结尾的目录
!?*.[Cc]ache/

# 其他
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# 包括强名称文件可能会带来安全风险
#（https://github.com/github/gitignore/pull/2483#issue-259490424）
#*.snk

# 由于有多个工作流程，请取消下一行的注释以忽略bower_components
#（https://github.com/github/gitignore/pull/1529#issuecomment-104372622）
#bower_components/

# RIA / Silverlight项目
Generated_Code/

# 从旧项目文件转换为新的Visual Studio版本的备份和报告文件
# 不需要备份文件，因为我们有git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server文件
*.mdf
*.ldf
*.ndf

# 业务智能项目
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- Backup*.rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc插件设置文件
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.__pycache__/
*.pyc

# Cake-如使用，请取消注释
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik的JustMock配置文件
*.jmconfig

# BizTalk构建输出
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI分析结果
OpenCover/

# Azure Stream Analytics本地运行输出
ASALocalRun/

# MSBuild二进制和结构化日志
*.binlog

# NVidia Nsight GPU调试器配置文件
*.nvuser

# MFractors（Xamarin productivity工具）工作文件夹
.mfractor/

# 本地历史记录对于Visual Studio
.localhistory/

# BeatPulse健康检查临时数据库（？？？这什么鬼翻译）
healthchecksdb

# ------------------------------------------------------------

# 包含主题解锁、加密解密等部分的代码
ModSecret.vb
ModSetup.vb
PageOtherAbout.*
PageOtherTest.*
PageSetupUI.*
# 开发者工具
ModDevelop.vb
# 不公开底层函数库，以免抄袭
ModMain.vb
