###############################################################################
# 设置默认行尾格式为自动转换
###############################################################################
* text=auto

###############################################################################
# 设置命令行中命令提示符的差异行为
#
# 此设置适用于较早的 ms 系统 Git 版本，该版本默认不适用于 csharp 文件。
# 注意：仅在命令行中使用
###############################################################################
#*.cs     diff=csharp

###############################################################################
# 设置项目和其他文件的合并驱动
#
# 当从命令行合并文件时，如果发生冲突，则会向文件添加差异标记（在 VS 中合并文件时不会受到这些设置的影响，因为 diff 标记不会插入）。
# 这些设置可能会导致以下文件扩展名在 VS 中失败加载。一个替代方案是将其视为二进制文件，从而总是与每个合并发生冲突，需要用户在每次合并时手动干预。
# 要执行此操作，请取消注释以下条目
###############################################################################
#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.vcxproj   merge=binary
#*.vcproj    merge=binary
#*.dbproj    merge=binary
#*.fsproj    merge=binary
#*.lsproj    merge=binary
#*.wixproj   merge=binary
#*.modelproj merge=binary
#*.sqlproj   merge=binary
#*.wwaproj   merge=binary

###############################################################################
# 文件行为设置
#
# 图像文件被视为二进制默认。
###############################################################################
#*.jpg   binary
#*.png   binary
#*.gif   binary

###############################################################################
# 差异行为设置
#
# 将二进制文档格式转换为文本进行比较。此功能仅在命令行中可用。要启用此功能，请取消注释以下条目。
###############################################################################
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain
