<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Fody" version="6.9.1" targetFramework="net48" developmentDependency="true" />
  <package id="Imazen.WebP" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="NAudio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Ookii.Dialogs.Wpf" version="5.0.1" targetFramework="net48" />
  <package id="Open.NAT" version="2.1.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
</packages>